.help {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
}

.help .help-wrapper {
 position: relative;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.help .help-wrapper::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: var(--dark-color-300);
 opacity: 0.9;
 z-index: -1;
}

.help .help-container {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 max-width: 700px;
 background: var(--light-color);
 padding: 1rem;
 border-radius: 15px;
}

.help .help-container .help-header {
 display: flex;
 flex-direction: column;
 align-items: start;
 justify-content: center;
}

.help .help-container .help-header h2 {
 font-size: 2.5rem;
}

.help .help-container .help-header > p {
 font-size: 0.75rem;
 margin-top: -0.5rem;
}

.help .help-container .help-content {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 padding: 0.5rem;
}

.help .help-container .help-content .content-top {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

.help .help-container .help-content .content-top > div:first-child {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
}

.help .help-container .help-content .content-top > div:first-child i {
 width: 15px;
 height: 15px;
 border-radius: 50%;
 background: yellow;
 box-shadow: 0px 0px 5px var(--dark-color-500);
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 0.75rem;
}

.help .help-container .help-content .how-it-works > ul {
 display: flex;
 align-items: stretch;
 justify-content: center;
 gap: 1rem;
}

.help .help-container .help-content .how-it-works > ul > li {
 position: relative;
 padding: 1rem;
 border: 1px solid var(--dark-color-300);
 border-radius: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

#game .help .help-container .help-content .how-it-works > ul {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
}

#game .help .help-container .help-content .how-it-works > ul > li:nth-child(4) {
 order: 5;
 grid-column: 3 / 4;
}

#game .help .help-container .help-content .how-it-works > ul > li:nth-child(5) {
 grid-column: 2 / 3;
}

#game
 .help
 .help-container
 .help-content
 .how-it-works
 > ul
 .level-information
 ul {
 display: flex;
 align-items: start;
 justify-content: center;
 flex-direction: column;
 font-size: 0.9rem;
 height: 100%;
 border: 1px solid var(--dark-color-600);
 padding: 0.5rem;
 border-radius: 10px;
}

.help .help-container .help-content .how-it-works > ul > li > div:first-child {
 position: absolute;
 top: 0;
 left: 0;
 width: 25px;
 height: 25px;
 border: 1px solid var(--dark-color-500);
 transform: translate(-50%, -50%);
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 background: var(--dark-color-500);
 color: var(--light-color);
}

.help .help-container .help-footer {
 display: flex;
 align-items: center;
 justify-content: center;
}
