@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

:root {
 --light-color: #fff;
 --light-color-300: #f4f4f4;
 --dark-color: #000;
 --dark-color-300: #333;
 --dark-color-500: #555;
 --dark-color-600: #ccc;

 --transition-medium: 0.3s all ease-in-out;
}

/* Utilities */
button {
 background: var(--light-color);
 outline: none;
 padding: 1rem;
 cursor: pointer;
 transition: var(--transition-medium);
 border-radius: 10px;
 font-weight: bold;
 font-size: 1rem;
 color: var(--dark-color-300);
 border: none;
 box-shadow: 0px 0px 5px var(--dark-color-500);
}

button:hover {
 opacity: 0.75;
}

button:active {
 transform: scale(0.95);
}

.option .close-option,
.difficulty .cancel {
 border: none;
 height: inherit;
 z-index: 1;
}

.option .close-option:hover,
.difficulty .cancel:hover {
 opacity: 1;
}

.option .close-option i,
.difficulty .cancel i {
 transform: rotate(90deg);
}

.option .close-option::before,
.difficulty .cancel::before {
 content: "";
 position: absolute;
 top: 0;
 left: 50%;
 transform: translate(-50%, 0.5rem);
 border: 1px solid var(--dark-color-600);
 width: calc(100% - 1rem);
 height: calc(100% - 1rem);
 border-radius: 25px;
 z-index: -1;
 box-shadow: inset 2px 1px 5px var(--dark-color-600),
  inset -2px 1px 5px var(--dark-color-600);
}

body {
 font-family: "Rubik", sans-serif;
 line-height: 1.6;
 overflow-x: hidden;
}

a {
 text-decoration: none;
}

ul,
ol {
 list-style: none;
}

#root {
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 max-width: 100vw;
 width: 100%;
 min-height: 100vh;
 overflow-x: hidden;
 gap: 1rem;
}

#root > section {
 position: relative;
 min-height: inherit;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

#home {
 position: relative;
 overflow-y: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 padding: 1rem;
}

#home header {
 gap: 0;
}

#home header h1 {
 font-size: 3.5rem;
 display: flex;
 align-items: center;
 justify-content: center;
}

#home header h2 {
 font-size: 2rem;
}

#home .home-action {
 max-width: 500px;
 width: 100%;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1.5rem;
 padding: 2rem;
 z-index: 1;
}

#home .home-action::before {
 content: "";
 position: absolute;
 top: 0;
 left: 50%;
 transform: translate(-50%, 0);
 width: 100%;
 height: 2px;
 background: linear-gradient(
  to right,
  transparent,
  var(--dark-color-500),
  transparent
 );
 filter: drop-shadow(0px 10px 10px var(--dark-color-500));
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 z-index: -1;
}

#home .home-action::after {
 content: "";
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translate(-50%, 0);
 width: 100%;
 height: 2px;
 background: linear-gradient(
  to right,
  transparent,
  var(--dark-color-500),
  transparent
 );
 filter: drop-shadow(0px 10px 10px var(--light-color));
 box-shadow: 0px -8px 8px rgba(255, 255, 255, 0.2);
 z-index: -1;
}

#home button {
 position: relative;
 width: 200px;
 white-space: nowrap;
 border-radius: 25px;
 box-shadow: 2px 2px 10px var(--dark-color-500),
  -2px 8px 5px var(--dark-color-600);
 border-color: var(--dark-color-600);
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}

#home button .icon {
 height: 40px;
 width: 40px;
 position: absolute;
 top: 50%;
 left: 0;
 transform-origin: bottom right;
 transform: translate(-75%, -50%) rotate(-45deg);
 display: flex;
 align-items: center;
 justify-content: center;
 transition: 0.5s all ease;
}

#home button .icon img {
 width: 90%;
 height: 90%;
 margin: 0;
}

#home button:hover .icon {
 transform: translate(0, -50%) rotate(0);
}

#home .reset {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
}

#home .reset-wrapper {
 position: relative;
 width: 100%;
 height: 100%;
 z-index: 1;
 display: flex;
 align-items: center;
 justify-content: center;
}

#home .reset-wrapper::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: var(--dark-color);
 opacity: 0.85;
 z-index: -1;
}

#home .reset-container {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 2rem;
 padding: 1rem;
 background: var(--light-color);
 border-radius: 15px;
}

#home .reset-container .reset-text {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

#home .reset-container .reset-text > div:first-child {
 font-weight: 400;
 font-size: 1.5rem;
}

#home .reset-container .reset-text > div:nth-child(2) {
 font-weight: bold;
 color: red;
}

#home .reset-container .reset-action {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

#home .reset-container .understood-button {
 color: red;
}

#home .reset-container .understood-button::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 height: 90%;
 width: 95%;
 transform: translate(-50%, -50%);
 border-radius: 25px;
 border: 2px solid red;
 box-shadow: inset 0px 0px 3px red;
}

#collections {
 padding: 1rem;
}

#collections h2 {
 font-size: 3rem;
}

#collections .help-button {
 width: 40px;
 height: 40px;
 position: absolute;
 top: 1rem;
 right: 1rem;
 border-radius: 50%;
 font-size: 1.25rem;
 display: flex;
 align-items: center;
 justify-content: center;
}

#collections .collections-header {
 padding: 1rem;
 display: grid;
 grid-template-columns: 150px 1fr 150px;
 align-items: center;
 justify-content: space-between;
 gap: 1rem;
 width: 100%;
 border: 1px solid var(--dark-color-600);
 border-radius: 15px;
 box-shadow: 3px 5px 10px var(--dark-color-600);
}

#collections .return-button {
 position: absolute;
 top: 1rem;
 left: 1rem;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
}

#collections .return-button i {
 transform: rotate(90deg);
}

#collections .collections-action {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 padding: 0 1rem;
}

#collections .collections-header .shown-pokemon {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 position: relative;
 border: 1px solid var(--dark-color-600);
 border-radius: 10px;
 cursor: pointer;
 z-index: 1;
 padding: 0;
 width: 100%;
}

#collections .collections-header .shown-pokemon:hover {
 opacity: 1;
}

#collections .collections-header .shown-pokemon .shown {
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 1rem;
 z-index: 1;
 background: var(--light-color);
 width: 100%;
 height: 100%;
 position: relative;
 padding: 0.5rem;
 border-radius: 10px;
 box-shadow: 0px 0px 5px var(--dark-color-500);
}

#collections .collections-header .shown-pokemon .shown-list {
 position: absolute;
 top: calc(100% - 0.5rem);
 left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 border: 1px solid var(--dark-color-600);
 border-radius: 10px;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
 z-index: -2;
 padding-top: 0.5rem;
 overflow: hidden;
 transition: var(--transition-medium);
 transform-origin: top;
 transform: scaleY(0);
}

#collections .collections-header .shown-pokemon:hover .shown-list {
 transform: scaleY(1);
}

#collections .collections-header .shown-pokemon .shown-list > div {
 border-bottom: 1px solid var(--dark-color-600);
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: var(--transition-medium);
 padding: 0.5rem 0;
 background: var(--light-color);
}

#collections .collections-header .shown-pokemon .shown-list > div:last-child {
 border-bottom: none;
}

#collections .collections-header .shown-pokemon .shown-list > div:hover {
 background: var(--light-color-300);
}

#collections .collections-action .image-toggler-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
}

#collections .collections-action .image-toggler-wrapper input {
 display: none;
}

#collections .collections-action .image-toggler-wrapper label {
 position: relative;
 cursor: pointer;
 padding: 0.125rem 1rem;
 border: 1px solid var(--dark-color-600);
 border-radius: 25px;
 width: calc(7ch + 60px);
 display: flex;
 align-items: center;
 justify-content: center;
}

#collections .collections-action .image-toggler-wrapper label > div {
 width: 30px;
 height: 30px;
 position: absolute;
 top: 50%;
 left: 0;
 transform: translateY(-50%);
 background: var(--dark-color-600);
 border-radius: 50%;
 transition: var(--transition-medium);
}

#collections .collections-action .image-toggler-wrapper label > div img {
 width: 100%;
 height: 100%;
 object-fit: contain;
}

#collections .collections-header .pokemon-collected {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
 flex-direction: column;
}

#collections .collections-header .pokemon-collected > p {
 font-weight: 500;
 font-size: 1.25rem;
}

#collections .collections-header .pokemon-collected > p:last-child {
 border-bottom: 1px solid var(--dark-color);
 padding: 0 1rem;
}

#collections .card-list-wrapper {
 flex: 1;
 display: grid;
 grid-template-columns: repeat(5, 180px);
 grid-auto-rows: 252px;
 justify-content: center;
 align-items: stretch;
 gap: 1rem;
}

#collections .collections-bottom {
 position: relative;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 gap: 1rem;
}

#collections .collections-bottom .arrow-button {
 position: absolute;
 width: inherit;
 height: 100%;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 align-items: center;
 justify-content: center;
}

#collections .collections-bottom .arrow-button > .prev-button {
 grid-column: 1 / 2;
 justify-self: start;
}

#collections .collections-bottom .arrow-button > .next-button {
 grid-column: 2 / -1;
 justify-self: end;
}

#collections .collections-bottom button {
 width: 50px;
 height: 50px;
 border-radius: 50%;
}

#collections .collections-bottom .page-number-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
}

#collections .collections-bottom .page-number-wrapper > button {
 position: relative;
 box-shadow: none;
}

#collections .collections-bottom .page-number-wrapper > button.active {
 box-shadow: 0px 0px 3px var(--dark-color-300);
}

#collections .collections-bottom .page-number-wrapper > button.active::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: calc(100% - 0.5rem);
 height: calc(100% - 0.5rem);
 border-radius: 50%;
 border: 2px solid var(--dark-color-600);
 box-shadow: 0px 0px 3px var(--dark-color-500);
}

#collections .help {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
}

#collections .help .help-wrapper {
 position: relative;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

#collections .help .help-wrapper::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: var(--dark-color-300);
 opacity: 0.9;
 z-index: -1;
}

#collections .help .help-container {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 max-width: 700px;
 background: var(--light-color);
 padding: 1rem;
 border-radius: 15px;
}

#collections .help .help-container .help-header {
 display: flex;
 flex-direction: column;
 align-items: start;
 justify-content: center;
}

#collections .help .help-container .help-header h2 {
 font-size: 2.5rem;
}

#collections .help .help-container .help-header > p {
 font-size: 0.75rem;
 margin-top: -0.5rem;
}

#collections .help .help-container .help-content {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 padding: 0.5rem;
}

#collections .help .help-container .help-content .content-top {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

#collections
 .help
 .help-container
 .help-content
 .content-top
 > div:first-child {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
}

#collections
 .help
 .help-container
 .help-content
 .content-top
 > div:first-child
 i {
 width: 15px;
 height: 15px;
 border-radius: 50%;
 background: yellow;
 box-shadow: 0px 0px 5px var(--dark-color-500);
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 0.75rem;
}

#collections .help .help-container .help-content .how-it-works ul {
 display: flex;
 align-items: stretch;
 justify-content: center;
 gap: 1rem;
}

#collections .help .help-container .help-content .how-it-works ul li {
 position: relative;
 padding: 1rem;
 border: 1px solid var(--dark-color-300);
 border-radius: 10px;
}

#collections
 .help
 .help-container
 .help-content
 .how-it-works
 ul
 li
 > div:first-child {
 position: absolute;
 top: 0;
 left: 0;
 width: 25px;
 height: 25px;
 border: 1px solid var(--dark-color-500);
 transform: translate(-50%, -50%);
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 background: var(--dark-color-500);
 color: var(--light-color);
}

#collections .help .help-container .help-footer {
 display: flex;
 align-items: center;
 justify-content: center;
}

#collections .pokemon-details {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 1;
}

#collections .pokemon-details .pokemon-details-wrapper {
 position: relative;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

#collections .pokemon-details .pokemon-details-wrapper::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: var(--dark-color);
 opacity: 0.8;
}

#collections .pokemon-details .pokemon-details-container {
 background: var(--light-color-300);
 z-index: 1;
 padding: 1rem;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 align-items: center;
 justify-content: center;
 border-radius: 15px;
 gap: 1rem;
 max-width: 900px;
 width: 100%;
 position: relative;
}

#collections .pokemon-details-container > .pokemon-information {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: stretch;
 gap: 1rem;
}

#collections .pokemon-details .card-wrapper .card-information {
 flex: 0 0 0.35;
 grid-template-rows: auto;
 font-size: 1.5rem;
}

#collections .pokemon-details .card-wrapper .pokemon-type {
 width: 2rem;
 height: 2rem;
}

#collections .pokemon-information .pokemon-name {
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 1.5rem;
 font-weight: bold;
}

#collections .pokemon-details .pokemon-descriptions {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 0.5rem;
 border: 1px solid var(--dark-color-600);
 padding: 0.5rem;
 border-radius: 10px;
 box-shadow: 3px 5px 5px var(--dark-color-600), -3px -5px 5px var(--light-color);
}

#collections .pokemon-details .pokemon-description {
 letter-spacing: 1.5px;
}

#collections .pokemon-details .pokemon-basic-information {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 font-size: 0.8rem;
 font-weight: lighter;
}

#collections .pokemon-details .pokemon-description {
 border: 1px solid var(--dark-color-600);
 padding: 0.5rem;
 font-size: 0.95rem;
 border-radius: 10px;
 box-shadow: inset 3px 5px 5px var(--dark-color-600);
}

#collections .pokemon-details .pokemon-stats {
 display: flex;
 align-items: stretch;
 justify-content: center;
 flex-direction: column;
 gap: 0.5rem;
}

#collections .pokemon-details .pokemon-stats > div {
 border-radius: 20px;
 font-size: 0.9rem;
 display: grid;
 grid-template-columns: 0.5fr 1fr;
 justify-content: start;
 align-items: center;
 overflow: hidden;
 font-weight: 500;
 box-shadow: inset 2px 5px 5px rgba(0, 0, 0, 0.2);
}

#collections .pokemon-details .pokemon-stats > div > div {
 padding: 0.25rem 0.5rem;
}

#collections .pokemon-details .pokemon-stats > div .stat-name {
 position: relative;
}

#collections .pokemon-details .pokemon-stats > div .stat-name::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: var(--dark-color-600);
 opacity: 0.35;
 z-index: -1;
}

#collections .pokemon-details .pokemon-abilities {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 box-shadow: 3px 5px 5px var(--dark-color-600), -3px -5px 5px var(--light-color);
 border-radius: 15px;
 padding: 0.5rem;
 gap: 0.5rem;
}

#collections .pokemon-details .pokemon-abilities p {
 font-weight: 500;
}

#collections .pokemon-details .pokemon-abilities .abilities-wrapper {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 flex-wrap: wrap;
 gap: 0.5rem;
}

#collections .pokemon-details .pokemon-abilities .abilities-wrapper > div {
 max-width: 150px;
 width: 100%;
 white-space: nowrap;
 text-align: center;
 padding: 0.5rem 0.75rem;
 border: 1px solid var(--dark-color-600);
 border-radius: 20px;
 box-shadow: inset 3px 5px 5px var(--dark-color-600);
}

#collections .pokemon-details .pokemon-cries {
 display: flex;
 align-items: center;
 justify-content: center;
}

#collections .pokemon-details .close-button {
 position: absolute;
 left: 50%;
 bottom: 0;
 transform: translate(-50%, 50%);
 width: 50px;
 height: 50px;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 1.25rem;
}

#collections .pokemon-details .close-button i {
 transform: rotate(90deg);
}

#credits .credits-wrapper {
 position: relative;
 padding: 1rem 1rem 3rem 0;
 border: 1px solid var(--dark-color-600);
 gap: 1rem;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 border-radius: 15px;
 min-width: 700px;
 box-shadow: 2px 3px 5px var(--dark-color-600);
}

#credits a {
 padding: 0.25rem 0.75rem;
 border-radius: 25px;
 background: rgba(0, 0, 0, 0.05);
 color: var(--dark-color);
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 font-weight: 300;
 transition: var(--transition-medium);
 box-shadow: 2px 3px 5px var(--dark-color-600),
  inset 2px 3px 5px var(--dark-color-600);
 font-size: 0.9rem;
}

#credits a:hover {
 transform: translateY(-2.5px);
 box-shadow: 4px 5px 7px var(--dark-color-600);
}

#credits .credits-wrapper h2 {
 font-size: 3rem;
}

#credits .credits-wrapper .credits-body {
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 2rem;
 padding: 1rem;
 border-radius: 15px;
 border: 1px solid var(--dark-color-600);
 box-shadow: inset 2px 3px 5px var(--dark-color-600);
}

#credits .credits-wrapper .credits-body > div > div:first-child {
 font-weight: 500;
}

#credits .credits-wrapper .credits-body .api {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
 flex-direction: column;
 padding: 0.5rem 1rem;
}

#credits .credits-wrapper .credits-body .other-assets {
 display: grid;
 align-items: center;
 justify-content: center;
 grid-template-columns: repeat(2, 1fr);
 gap: 0.5rem;
}

#credits .credits-wrapper .credits-body .other-assets > div {
 display: flex;
 align-items: stretch;
}

#credits .credits-wrapper .credits-body .other-assets > div:first-child {
 grid-column: 1 / 2;
 grid-row: 1 / 3;
 align-self: start;
 justify-self: start;
 padding: 0.25rem;
}

#credits .return-button {
 position: absolute;
 bottom: 0;
 left: 50%;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 transform: translate(-50%, 50%);
}

#credits .return-button i {
 font-size: 1.25rem;
 transform: rotate(90deg);
}
